<html>

<head>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <div id="container">
        <modal :filters="possibleFilters"></modal>
        <div id="col1">
            <h1>Filters</h1>

            <div class="controlBtns">
                <a @click="resetFilters">Reset to My Tags</a>
                <a @click="clearFilters">Clear Filters</a>
                <br class="clr" />
            </div>

            <div class="filter-box">
                <h4 @click="toggleFilter('symptoms')"><span class="left">Symptoms & Daily Life</span> <span
                        v-if="showFilters.symptoms" class="right">v</span><span v-if="!showFilters.symptoms"
                        class="right">^</span></h4>
                <filter-list v-show="showFilters.symptoms" :name="'symptoms'" :filters="filters.symptomFilters" @load="load"></filter-list>
            </div>
            <div class="filter-box">
                <h4 @click="toggleFilter('types')"><span class="left">Type of therapy</span> <span class="right"
                        v-if="showFilters.types">v</span><span class="right" v-if="!showFilters.types">^</span></h4>
                <filter-list v-show="showFilters.types" :name="'types'" :filters="filters.typeFilters" @load="load"></filter-list>
            </div>
            <div class="filter-box">
                <h4 @click="toggleFilter('injury')"><span class="left">Type of injury</span> <span
                        v-if="showFilters.injury" class="right">v</span><span v-if="!showFilters.injury"
                        class="right">^</span></h4>
                <filter-list v-show="showFilters.injury" :name="'injury'" :filters="filters.injuryFilters" @load="load"></filter-list>
            </div>
        </div>
        <div id="col2">
            <h1>All Questions</h1>
            <div v-if="loading" v-on:load="load">
                <h3>Loading...</h3>
            </div>
            <div v-if="!loading">
                <h3>{{ results }} questions</h3>
                <ul id="results_list">
                    <li>How do I?</li>
                    <li>Really?</li>
                    <li>Are you sure?</li>
                    <li>What's it all about?</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>