<html>

<head>
    <link rel="stylesheet" href="node_modules/vue-slider-component/theme/default.css" />
    <link rel="stylesheet" href="node_modules/@trevoreyre/autocomplete-vue/dist/style.css" />
    <link rel="stylesheet" href="index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Brightway Q&A Pills Filter Prototype</title>
</head>

<body>
    <div id="app" @click="closeUserFilter">
        <div id="container">
            <div id="header">
                <div class="left">
                    <img src="logo.png" id="logo">
                    <a class="pill" id="header-search" @click="alert('Not in Prototype')"><img src="loupe.png" height="16" style="margin: 0 16px 0 0" />Search Brightway</a>
                </div>
                <div id="header-pills">
                    <a class="pill" id="header-ask" @click="alert('Not in Prototype')"><img src="plus.png" height="16"  style="margin: 0 8px 0 0" />Ask a Question</a>
                    <a id="header-menu" @click="alert('Not in Prototype')"><img src="menu.png" height="16" style="margin: 0 8px 0 0" />Menu</a>
                </div>
                <br class="clr" />
            </div>
            <div id="col-container">
                <div id="col1">
                    <div id="questions">
                        <h1>Browse Questions</h1>
                        <div class="main-col-filters" style="margin-bottom: 0;">
                            <label v-show="filtersSelected.total > 0" class="main-col-filters-label">Selected topics:</label>
                            <div>
                                <main-col-filters :number-selected="filtersSelected.total"></main-col-filters>
                                <span @click="resetFilters" id="reset-tags" v-show="!myTagsSelected">Reset to my topics</span>
                                <span @click="clearFilters" id="unset-tags" v-show="filtersSelected.total > 0">Clear all topics</span>
                            </div>
                            <br class="clr" />
                        </div>
                        <div id="user-filters-sentence" class="main-col-filters" v-if="hasUserFilters" style="margin-top: 5px;">
                            <label class="main-col-filters-label">Asked by:</label>
                            <user-filters-sentence :locations="locations"></user-filters-sentence>
                        </div>
                        <div id="question-nav">
                            <a class="pill open-filter-btn" @click="toggleSidebar" style="margin-right: 15px;"><img src="filter.png" height="16" style="margin: 0 8px 0 0;" />
                                <span v-show="!showSidebar">View</span><span v-show="showSidebar">Hide</span> Topics
                            </a>
                            <a class="pill" id="sort-questions-btn" @click="alert('Not in prototype')">Sort By: <span class="weak">Relevance</span><img src="down-arrow.svg" height="16" style="margin: 0 0 0 8px" /></a>
                            <h3 class="question-count">
                                <span v-if="loading">-</span>
                                <span v-if="!loading">{{ results }} questions</span>
                            </h3>
                            <br class="clr" />
                        </div>
                        <div id="question-list">
                            <div v-if="loading" id="question-loading">
                                <h3>Loading...</h3>
                            </div>
                            <div v-if="!loading">
                                <question v-for="question in questions" :question="question"></question>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="col2-placeholder"></div>
                <div id="col2">
                    <h2 id="filter-title" @click="toggleSidebar">
                        <span style="margin-right: 5px;">View Questions By Topic</span>
                        <span class="material-icons">arrow_drop_down</span>
                    </h2>
                    <br class="clr" />
                    <a @click="clearFilters" id="view-all-link" :class="{disabled: filtersSelected.total === 0}">View All Questions</a>
                    <div id="filters-hidden" v-show="!showSidebar">
                        <a class="pill open-filter-btn" @click="toggleSidebar"><img src="filter.png" height="16" style="margin: 0 8px 0 0" />View Topics &ndash; <span class="weak">{{filtersSelected.total}} selected</span></a>
                    </div>
                    <div id="filters-shown" v-show="showSidebar">
                        <div id="search">
                            <input placeholder="Search topics" id="search-box" v-model="search" />
                            <button class="search-button" :disabled="!search" @click="search = ''">
                                <span class="material-icons">clear</span>
                            </button>
<!--                            <button id="search-button-search" class="search-button" :disabled="!search">-->
<!--                                <span class="material-icons">search</span>-->
<!--                            </button>-->
                            <br class="clr" />
                        </div>

                        <div id="filterboxes" ref="filterboxes">
                            <div class="filter-box" v-show="showTagBasedOnSearch.symptoms">
                                <h4 @click="toggleFilter('symptoms')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Symptoms & daily life</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.symptoms > 0">{{filtersSelected.symptoms}} selected</span>
                                        <span v-if="!hasSearch && showFilters.symptoms" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.symptoms" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.symptoms" :name="'symptoms'" :search="search"></filter-list>
                            </div>
                            <div class="filter-box" v-show="showTagBasedOnSearch.therapy">
                                <h4 @click="toggleFilter('therapy')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Type of therapy</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.therapy > 0">{{filtersSelected.therapy}} selected</span>
                                        <span v-if="!hasSearch && showFilters.therapy" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.therapy" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                    </h4>
                                <filter-list v-show="hasSearch || showFilters.therapy" :name="'therapy'" :search="search"></filter-list>
                            </div>

                            <div v-show="showTagBasedOnSearch.location" class="filter-box">
                                <h4 @click="toggleFilter('location')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Location</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.location > 0">{{filtersSelected.location}} selected</span>
                                        <span v-if="!hasSearch && showFilters.location" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.location" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>


                                <span v-show="hasSearch || showFilters.location">
                                        <div class="location-filter-wrap">

                                            <div class="filter location-filter" v-show="!hasSearch">
                                                <ul class="selected">
                                                    <li v-for="location in locations" v-on:click="location.s = !location.s; loadFn();" :class="{ active: location.s }">{{ location.t }}</li>
                                                </ul>
                                                <br class="clr" />
                                            </div>

                                            <div class="filter location-filter" v-show="hasSearch">
                                                <ul class="selected">
                                                    <li v-for="location in filteredLocations" v-on:click="toggleLocation(location);" :class="{ active: location.s }">{{ location.t }}</li>
                                                </ul>
                                                <br class="clr" />
                                            </div>

                                            <div class="location-auto-wrap" v-show="!hasSearch">
                                                <v-autocomplete :search="locationSearch" @submit="locationSubmit" ref="locationField" placeholder="Add more cities or states"></v-autocomplete>
                                            </div>
                                            <br class="clr" />
                                        </div>
                                        <br class="clr" />
                                </span>
                            </div>

                            <div v-show="showTagBasedOnSearch.injury" class="filter-box">
                                <h4 @click="toggleFilter('injury')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Type of injury</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.injury > 0">{{filtersSelected.injury}} selected</span>
                                        <span v-if="!hasSearch && showFilters.injury" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.injury" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.injury" :name="'injury'" :search="search"></filter-list>
                            </div>

                            <div v-show="showTagBasedOnSearch.user" class="filter-box">
                                <h4 @click="toggleFilter('user')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Community member type</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.user > 0">{{filtersSelected.user}} selected</span>
                                        <span v-if="!hasSearch && showFilters.user" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.user" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.user" :name="'user'" :search="search"></filter-list>
                            </div>

                            <div class="filter-box" v-show="showTagBasedOnSearch.financial">
                                <h4 @click="toggleFilter('financial')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Financial</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.financial > 0">{{filtersSelected.financial}} selected</span>
                                        <span v-if="!hasSearch && showFilters.financial" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.financial" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.financial" :name="'financial'" :search="search"></filter-list>
                            </div>

                            <div class="filter-box" v-show="showTagBasedOnSearch.nutrition">
                                <h4 @click="toggleFilter('nutrition')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Nutrition</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.nutrition > 0">{{filtersSelected.nutrition}} selected</span>
                                        <span v-if="!hasSearch && showFilters.nutrition" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.nutrition" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.nutrition" :name="'nutrition'" :search="search"></filter-list>
                            </div>
                            <div class="filter-box" v-show="showTagBasedOnSearch.medications">
                                <h4 @click="toggleFilter('medications')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Medications</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.medications > 0">{{filtersSelected.medications}} selected</span>
                                        <span v-if="!hasSearch && showFilters.medications" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.medications" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.medications" :name="'medications'" :search="search"></filter-list>
                            </div>
                            <div class="filter-box" v-show="showTagBasedOnSearch.legal" :class="{ inactive: hasSearch }">
                                <h4 @click="toggleFilter('legal')">
                                    <span class="left filter-header">Legal</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.legal > 0">{{filtersSelected.legal}} selected</span>
                                        <span v-if="!hasSearch && showFilters.legal" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.legal" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.legal" :name="'legal'" :search="search"></filter-list>
                            </div>

                            <div v-show="showTagBasedOnSearch.date" class="filter-box">
                                <h4 @click="toggleFilter('date')" :class="{ inactive: hasSearch }">
                                    <span class="left filter-header">Time since injury</span>
                                    <span class="right flex-center">
                                        <span class="weak filter-count" v-if="!hasSearch && filtersSelected.date > 0">{{filtersSelected.date}} selected</span>
                                        <span v-if="!hasSearch && showFilters.date" class="material-icons">arrow_drop_down</span>
                                        <span v-if="!hasSearch && !showFilters.date" class="material-icons">arrow_left</span>
                                    </span>
                                    <br class="clr" />
                                </h4>
                                <filter-list v-show="hasSearch || showFilters.date" :name="'date'" :search="search"></filter-list>
                            </div>

                        </div>

<!--                        <div id="more-below" style="background-color: blue; color: white; padding: 8px 15px; position: fixed; right: 120px; bottom: 30px;">Show more v</div>-->

                        <none-found :search="search" :has-locations="showTagBasedOnSearch.location"></none-found>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="vue.min.js" type="text/javascript"></script>
    <script src="node_modules/vue-slider-component/dist/vue-slider-component.umd.js" type="text/javascript"></script>
    <script src="node_modules/@trevoreyre/autocomplete-vue/dist/autocomplete.min.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>