body,
html {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #bbb;
  /* scrollbar-width: 14px; */
}

/* ::-webkit-scrollbar {
    width: 14px;
    height: 100%;
} */

#container {
  height: 100%;
  width: 1200px;
  max-width: 98%;
  margin: 0 auto;
  background-color: #ddd;
}


#header {
    background-color: #666;
    color: #fff;
    box-sizing: border-box;
    padding: 14px 30px;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    width: 1200px;
    max-width: 98%;
    z-index: 100;
}

#header h1 {
    display: inline-block;
    margin: 7px 0;
    font-size: 1.3em;
}

#header-pills {
    float: right;
}

#header a {
    font-weight: bold;
    display: inline-block;
}

#header a:hover {
    cursor: pointer;
}

#header .pill {
    background-color: #ddd;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

#header .pill:hover {
    background-color: #ccc;
}

#header-menu {
    margin-left: 10px;
}

#header-menu:hover {
    color: #ddd;
}

#col-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 68px;
}

#question-nav #sort-questions-btn.pill {
    color: blue;
    background-color: #fff;
}

#question-nav #sort-questions-btn.pill:hover {
    text-decoration: underline;
    background-color: #ccc
}

#col1 {
    background-color: #eee;
    padding: 40px 0;
    box-sizing: border-box;
    flex: 2;
}

#col2-placeholder {
    background-color: #ddd;
    flex: 1;
}

#col2 {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    background-color: #ddd;
    overflow: auto;
    height: 100%;
    padding-top: 68px;
    z-index: 50;
    width: 32.6667%;
}

#col2::-webkit-scrollbar {
    display: none;
}

#questions {
    padding: 0 5%;
}

#question-loading {
    height: 100%;
}

#question-nav {
    width: 100%;
    margin: 40px 0;
}

#question-nav .pill {
    display: block;
    float: left;
    padding: 10px 20px;
    background-color: #bbb;
    font-weight: bold;
    border-radius: 20px;
}

#question-nav .pill:hover {
    background-color: #ccc;
    cursor: pointer;
}

.question-count {
    float: right;
    margin: 10px 0;
    color: #666;
    font-size: 1em;
}

.left { float: left; }
.right { float: right; }
.weak { font-weight: normal !important; }

.clr {
  clear: both;
  height: 0;
  width: 0;
  line-height: 0;
}

.filter-box {
  background-color: #eee;
  margin: 8px 0;
}

.filter-box h4 {
  margin: 0;
  padding: 25px 25px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2em;
}

.filter-box h4 .filter-count {
    font-size: 0.85em;
    margin-right: 15px;
}

.filter-box h4:hover {
  background-color: #fff;
  cursor: pointer;
}

.filter {
    margin-top: 8px;
  padding: 0 0 10px;
}

.filter ul.selected {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.filter ul.selected li {
  float: left;
  margin: 2px 5px;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #666;
  color: #000;
}

.filter ul.selected li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.filter ul.selected li.active:hover {
    background-color: #888;
}

.filter ul.selected li.active {
    background-color: #666;
    color: #fff;
}

.filter .filter-input {
  margin-top: 10px;
  width: 100%;
  padding: 3px 10px;
  box-sizing: border-box;
  border: 0;
}

.modal-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-wrap .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap .modal {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: #fff;
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
}

.modal-wrap .modal h4 {
  margin: 0 0 1em;
}

.modal-wrap .modal .search {
  margin-bottom: 10px;
}

.modal-wrap .modal .search input {
  width: 30%;
}

.modal-wrap .modal .list {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  list-style: none;
}

.modal-wrap .modal .list li {
    float: left;
  margin: 2px 5px;
  padding: 3px 8px;
  border-radius: 8px;
  background-color: #aaa;
}

.modal-wrap .modal .list li:hover {
  background-color: #999;
  cursor: pointer;
}

.modal-wrap .modal .list li.selected {
  background-color: #ddd;
}

.modal-wrap .modal .list li.selected:hover {
  background-color: #ccc;
}

.modal-wrap .modal .btn.save {
  margin-left: 90%;
  margin-top: 20px;
  border: 0;
  font-weight: bold;
  padding: 10px;
  background-color: #ddd;
}

.modal-wrap .modal .btn.save:hover {
  cursor: pointer;
  background-color: #ccc;
}

.controlBtns {
  margin: 20px 25px;
  box-sizing: border-box;
}

.controlBtns a {
  color: blue;
  font-weight: bold;
}

.controlBtns span {
    font-weight: bold;
    color: #444;
}

.controlBtns a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.question-wrap {
    margin-bottom: 40px;
}

.question-wrap .upvotes {
    float: left;
    width: 9%;
    margin-top: 50px;
}

.upvotes {
    opacity: 0.75;
}

.upvotes:hover {
    opacity: 1;
    cursor: pointer;
}

.upvotes .votes {
    margin: 5px 0 0;
    font-weight: bold;
}

.question-right {
    float: right;
    width: 91%;
}

.question {
    padding: 15px;
    border-radius: 7px;
    background-color: #ddd;
    box-sizing: border-box;
}

.question .details {
    font-size: 0.9em;
    color: #444;
    margin-bottom: 1.3em;
}

.question .question-user {
    font-weight: bold;
}

.question .question-user:hover {
    color: #000;
    cursor: pointer;
}

.question .question-votes {
    margin: 0 10px;
}

.question .user-type {
    background-color: #bbb;
    padding: 2px 12px;
    border-radius: 10px;
    color: #000;
}

.question .question-kebab {
    opacity: 0.5;
}

.question .question-kebab:hover {
    opacity: 1;
    cursor: pointer;
}

.question h2 {
    color: blue;
    margin: 0;
    font-size: 1.2em;
}

.question h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.question .question-text {
    margin: 1.4em 0;
}

.question .tags a {
    display: inline-block;
    font-size: 0.9em;
    background-color: #bbb;
    padding: 2px 12px;
    border-radius: 10px;
    margin-right: 8px;
}

.question .tags a:hover {
    background-color: #999;
    cursor: pointer;
}

.question-right .answers {
    color: #333;
    margin-top: 10px;
}

.question-right .answers a:hover {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.hide-filters {
    color: blue;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 80px;
}

.hide-filters:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#more-filter-toggle {
    margin: 20px 0;
}

#more-filter-toggle a {
    display: block;
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: bold;
}

#more-filter-toggle a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.year-filter-wrap {
    padding: 15px 60px 12px 53px;
}

.location-filter-wrap {
    padding: 10px 25px 10px;
}

.location-filter-wrap input {
    background-color: #ddd;
}

.location-filter-wrap .location-auto-wrap.active {
    float: left;
    width: 88%;
}

.location-filter-wrap .location-clear {
    float: right;
    display: block;
    width: 10%;
    padding: 12px 0;
    box-sizing: border-box;
    color: blue;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    border-radius: 8px;
}

.location-filter-wrap .location-clear:hover {
    background: #fff;
    cursor: pointer;
}

.filter.location-filter {
    margin: 0;
}

.filter.location-filter ul.selected {
    margin: 0;
}

#filter-title {
    margin: calc(60px + 0.67em) auto 40px;
    text-align: center;
    width: 77%;
    padding-bottom: 1em;
}

#filter-title:hover {
    cursor: pointer;
    color: #333;
}

#filters-hidden {
    text-align: center;
}

#filters-hidden p {
    color: #555;
}

#open-filter-btn {
    margin-top: 0.5em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 20px;
    color: blue;
}

#open-filter-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

#view-all-link {
    display: block;
    color: blue;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    margin-top: -20px;
}

#view-all-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filter-header {
    color: blue;
}

.filter-header:hover {
    text-decoration: underline;
}
